body{
    font-family: 'Roboto', serif;
    margin: 0;
    padding: 0;
    background-color: #f8f5f0;
    color: #10433f;
    line-height: 1.6;
}
button:hover{
    background-color: #ffffff;
    scale: 1.02;
}
.card-item{
    background-color: rgb(229, 243, 255);
    height: 300px;
    width: 230px;
   
    
    margin: 20px;
    position: relative;
    box-shadow: 3px  3px 5px rgba(0, 0, 0, 0.162);
    border-radius: 35px;
}

.card-item img{

    height: 45%;
    width: 100%;
    border-radius:0px 0px 35px 35px;
    box-shadow: 0px 5px 5px rgba(0, 217, 255, 0.162);
    

}

.card-item .card-details{
    margin-left: 15px;
    margin-top: 10px;
}

.card-details .card-title{
    font-size: 20px;
    font-weight: 600;
    color: #10433f;
    transition: all .2s ease-in-out;
    

}

.card-details .card-title:hover{
    transform: scale(1.08);
    color: #29ff89;

    

}

.request-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #cfcfcf;
    z-index:  1000;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    
}

.request-form{
    background-color: rgb(255, 248, 240);
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 15px;
    padding: 10px;
    padding-top: 30px;
    border-radius: 8px;
    
}

.request-form input{
    height: 40px;
    width: 300px;
    margin:auto;
    border: none;
    padding-left: 7px;
    border-radius: 0px;
    padding-right: 7px;
    
    border-bottom: 2px solid rgba(0, 0, 0, 0.551);
    


}

.request-form input:focus{
    outline:solid 2px rgb(71, 79, 243);
}

.request-form input[type="file"]{
    height: 40px;
    width: 300px;
    background-color: #f6f8f8;
    


}



.request-form input[type="file"]::file-selector-button{
    border: none;
    height: 40px;
    width: 300px;
    
    text-align: left;
    margin: auto;
    position: relative;
    bottom: 3px;
    left: -7px;
    cursor: pointer;
    
   
    


}

.request-form button{
    border:none;
    height: 35px;
    width: 100px;
    background-color: rgb(242, 255, 0);
    margin: auto;
    border-radius: 35px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.116);
    
}

.request-form span{
    position:absolute;
    top: 90px;
    color: #5b5b5b;
    z-index: 1;
    right: 40px;
    border-left: solid 2px rgb(88, 88, 88);
    padding-left: 3px;
    text-align: center;
    cursor: pointer;
    
}

.details-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fffcee;
    z-index: 1000;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 15px;
    
}

.details-popup button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 30px;
    position:relative;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.115);
    background-color: #a6beaf;
}

hr{
    
    opacity: .5;
}



.card-item.popup-active::before{
    content: '';
    background-color: #080808;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background: #0808082a;
}

.card183 {
    --accent-color: #ce986f;
    position: relative;
    width: 240px;
    background: white;
    border-radius: 1rem;
    padding: 0.3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 50px 30px -20px;
    transition: all 0.5s ease-in-out;
  }
  
  .card183 .image-container {
    position: relative;
    width: 100%;
    height: 130px;
    border-radius: 0.7rem;
    border-top-right-radius: 4rem;
    margin-bottom: 1rem;
  }
  
  .card183 .image-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: inherit;
  }
  
  .card183 .image-container .svg {
    height: 100%;
    width: 100%;
    border-radius: inherit;
  }
  
  .card183 .image-container .price {
    position: absolute;
    right: 0.7rem;
    bottom: -1rem;
    background: white;
    color: var(--accent-color);
    font-weight: 900;
    font-size: 0.9rem;
    padding: 0.5rem;
    border-radius: 1rem 1rem 2rem 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 15px 0px;
  }
  
  .card183 .favorite {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
  
  .card183 .favorite input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .card183 .favorite input:checked ~ svg {
    animation: bouncing 0.5s;
    fill: rgb(255, 95, 95);
    filter: drop-shadow(0px 3px 1px rgba(53, 53, 53, 0.14));
  }
  
  .card183 .favorite svg {
    fill: #a8a8a8;
  }
  
  .card183 .content {
    padding: 0px 0.8rem;
    margin-bottom: 1rem;
  }
  
  .card183 .content .brand {
    font-weight: 900;
    color: #a6a6a6;
  }
  
  .card183 .content .product-name {
    font-weight: 700;
    color: #666666;
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }
  
  .card183 .content .color-size-container {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    color: #a8a8a8;
    gap: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .card183 .content .color-size-container > * {
    flex: 1;
  }
  
  .card183 .content .color-size-container .colors .colors-container {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
    font-size: 0.5rem;
    margin-top: 0.2rem;
  }
  
  .card183 .content .color-size-container .colors .colors-container .color {
    height: 14px;
    position: relative;
  }
  
  .card183 .content .color-size-container .colors .colors-container .color:hover .color-name {
    display: block;
  }
  
  .card183 .content .color-size-container .colors .colors-container .color a {
    display: inline-block;
    height: 100%;
    aspect-ratio: 1;
    border: 3px solid black;
    border-radius: 50%;
  }
  
  .card183 .content .color-size-container .colors .colors-container .color .color-name {
    display: none;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    background: black;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    text-align: center;
  }
  
  .card183 .content .color-size-container .colors .colors-container .color:first-child a {
    border-color: #ffd426;
  }
  
  .card183 .content .color-size-container .colors .colors-container .color:nth-child(2) a {
    background: #144076;
  }
  
  .card183 .content .color-size-container .colors .colors-container .color:nth-child(3) a {
    border-color: #00b9ff;
  }
  
  .card183 .content .color-size-container .colors .colors-container .color:nth-child(4) a {
    border-color: #ff6ba1;
  }
  
  .card183 .content .color-size-container .colors .colors-container .active {
    border-color: black;
  }
  
  .card183 .content .color-size-container .sizes .size-container {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.2rem;
  }
  
  .card183 .content .color-size-container .sizes .size-container .size {
    height: 14px;
  }
  
  .card183 .content .color-size-container .sizes .size-container .size .size-radio {
    cursor: pointer;
  }
  
  .card183 .content .color-size-container .sizes .size-container .size .size-radio input {
    display: none;
  }
  
  .card183 .content .color-size-container .sizes .size-container .size .size-radio input:checked ~ .name {
    background: var(--accent-color);
    border-radius: 2rem 2rem 1.5rem 1.5rem;
    color: white;
  }
  
  .card183 .content .color-size-container .sizes .size-container .size .size-radio .name {
    display: grid;
    place-content: center;
    height: 100%;
    aspect-ratio: 1.2/1;
    text-decoration: none;
    color: #484848;
    font-size: 0.5rem;
    text-align: center;
  }
  
  .card183 .content .rating {
    color: #a8a8a8;
    font-size: 0.6rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .card183 .content .rating svg {
    height: 12px;
  }
  
  .card183 .button-container {
    display: flex;
  }
  
  .card183 .button-container .button {
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: none;
    padding: 0.5rem 0;
    background: var(--accent-color);
    color: white;
    font-weight: 900;
    cursor: pointer;
  }
  
  .card183 .button-container .button:hover {
    background: #4a403a;
  }
  
  .card183 .button-container .buy-button {
    flex: auto;
    width: 50%;
  }
  
  .card183 .button-container .cart-button {
    display: grid;
    place-content: center;
    width: 50%;
  }
  
  .card183 .button-container .cart-button svg {
    width: 15px;
    fill: white;
  }
  
  .card183:hover {
    transform: scale(1.01);
  }
  
  @keyframes bouncing {
    from, to {
      transform: scale(1, 1);
    }
  
    25% {
      transform: scale(1.5, 2.1);
    }
  
    50% {
      transform: scale(2.1, 1.5);
    }
  
    75% {
      transform: scale(1.5, 2.05);
    }
  }

  .custom-modal .modal-content {
    background-color: #f8f5f0;
    padding: 10px;
  }
  
  .cookie-heading {
    color: rgb(34, 34, 34);
    font-weight: 800;
    font-size: 24px;
  }
  .cookie-para {
    font-size: 15px;
    font-weight: 400;
    color: rgb(51, 51, 51);
  }
