button:hover{
    background-color: #ffffff;
    scale: 1.02;
}
.card-item{
    background-color: rgb(229, 243, 255);
    height: 300px;
    width: 230px;
   
    
    margin: 20px;
    position: relative;
    box-shadow: 3px  3px 5px rgba(0, 0, 0, 0.162);
    border-radius: 35px;
}

.card-item img{

    height: 45%;
    width: 100%;
    border-radius:0px 0px 35px 35px;
    box-shadow: 0px 5px 5px rgba(0, 217, 255, 0.162);
    

}

.card-item .card-details{
    margin-left: 15px;
    margin-top: 10px;
}

.card-details .card-title{
    font-size: 20px;
    font-weight: 600;
    color: #10433f;
    transition: all .2s ease-in-out;
    

}

.card-details .card-title:hover{
    transform: scale(1.08);
    color: #29ff89;

    

}
.quantity{
    font-size: 15px;
    
    margin-top: 10px;
    margin-bottom: 0;
}

 .exp-date{
    font-size: 15px;
    
}

.card-btns{
    position:absolute;
    left:50%;
    transform: translate(-50%);
    display: flex;
    margin-top: 10px;
    gap: 20px;

}

.card-btns button{
    border: none;
    background-color: #10433f;
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 35px;
}

.card-btns button:nth-child(2){
    border: 3px solid rgb(26, 54, 51);
    background-color: rgb(252, 252, 253);
    color: rgb(32, 32, 32);
    height: 30px;
    width: 80px;
    border-radius: 35px;
}

.card-btns button:nth-child(1):hover{
    background-color: rgb(36, 118, 81);
    
}

.card-btns button:nth-child(2):hover{
    background-color:rgb(26, 54, 51);
    color: aliceblue;
    
}

.request-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #cfcfcf;
    z-index:  1000;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    
}

.request-form{
    background-color: rgb(255, 248, 240);
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 15px;
    padding: 10px;
    padding-top: 30px;
    border-radius: 8px;
    
}

.request-form input{
    height: 40px;
    width: 300px;
    margin:auto;
    border: none;
    padding-left: 7px;
    border-radius: 0px;
    padding-right: 7px;
    
    border-bottom: 2px solid rgba(0, 0, 0, 0.551);
    


}

.request-form input:focus{
    outline:solid 2px rgb(71, 79, 243);
}

.request-form input[type="file"]{
    height: 40px;
    width: 300px;
    background-color: #f6f8f8;
    


}



.request-form input[type="file"]::file-selector-button{
    border: none;
    height: 40px;
    width: 300px;
    
    text-align: left;
    margin: auto;
    position: relative;
    bottom: 15px;
    left: -7px;
    cursor: pointer;
    
   
    


}

.request-form button{
    border:none;
    height: 35px;
    width: 100px;
    background-color: rgb(242, 255, 0);
    margin: auto;
    border-radius: 35px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.116);
    
}

.request-form span{
    position:absolute;
    top: 148px;
    color: #5b5b5b;
    z-index: 1;
    right: 40px;
    border-left: solid 2px rgb(88, 88, 88);
    padding-left: 3px;
    text-align: center;
    cursor: pointer;
    
}

.form-btns{
    display: flex;
    gap: 10px;
}

.details-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #fffcee;
    z-index: 1000;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 15px;
    
}

.details-popup button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 30px;
    position:relative;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.115);
    background-color: #a6beaf;
}

hr{
    
    opacity: .5;
}



.card-item.popup-active::before{
    content: '';
    background-color: #080808;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background: #0808082a;
}

