:root {
  --light-beige: #f8f5f0;
  --beige: #e2d8c8;
  --dark-beige: #ce986f;
  --dark-green: #457b6f;
  --dark-brown: #4a403a;
  --transition-duration: 0.3s;
}

.home body {
  font-family: 'Outline', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light-beige);
  color: var(--dark-brown);
  line-height: 1.6;
}

.hero {
  background-image: url('../assets/hero.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  text-align: center;
  padding: 5rem 2rem;
  transition: background-color var(--transition-duration);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2rem;
}

.hero-text {
  flex: 1;
  text-align: left;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.hero-text h1 {
  font-size: 3rem;
  margin-top: 27%;
  text-align: left;
  font-family: 'Quando', serif;
}

.hero-text p {
  margin: 2% 0;
  text-align: left;
  width: 80%;
  font-family: 'Roboto', serif;
}

.button-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 3%;
}

.button-content {
  display: flex;
  align-items: center;
}

.button-content .material-symbols-outlined {
  margin-left: 4px;
}

.button-container button {
  background-color: var(--dark-beige);
  color: #365445;
  font-weight: 525;
  font-family: 'Roboto', sans-serif;
  padding: 0.8rem 1.5rem;
  margin-right: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.button-container button:hover {
  background-color: #CA7636;
  color: white;
}

.impact-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 5rem 2rem;
  background-color: #304E42;
}

.our-impact {
  background-color: #304E42;
  color: white;
  height: 100%;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.our-impact h3{
  font-size: 2rem;
  text-align: center;
  font-family: 'Quando', serif;
  height: 10%;
  margin-bottom: 3%;
}

.mission-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 5rem 2rem;
  background-color: #C7AA92;
}

.our-mission{
  background-color: #C7AA92;
  color: white;
  height: 100%;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', serif;
}

.approach-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 200vh;
  text-align: center;
  padding: 5rem 2rem;
  background-color: #FBF3EA;
}

.our-approach {
  background-color: #FBF3EA;
  color: var(--dark-brown);
  height: 100%;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', serif;
}

.h5-hover{
  color: #5E5C59; 
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-top: 3%;
  cursor: pointer;
  transition: color var(--transition-duration);
}

.h5-hover:hover{
  color: #CA7636;
}

.section {
  padding: 3rem;
  text-align: center;
}

.section h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  transition: color var(--transition-duration);
}

.section h3:hover {
  color: var(--dark-green);
}

footer {
  background-color: var(--dark-green);
  color: white;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 0.9rem;
}

footer a {
  color: var(--light-beige);
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color var(--transition-duration);
}

footer a:hover {
  color: white;
}
