:root {
  --light-beige: #f8f5f0;
  --beige: #e2d8c8;
  --dark-beige: #ce986f;
  --dark-green: #457b6f;
  --dark-brown: #4a403a;
  --transition-duration: 0.3s;
}

.Home{
  overflow: hidden;
}

.home body {
  font-family: 'Outline', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light-beige);
  color: var(--dark-brown);
  line-height: 1.6;
}

.hero {
  background-image: url('../../public/assets/hero.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  text-align: center;
  padding: 5rem 2rem;
  transition: background-color var(--transition-duration);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 2rem;
}

.hero-text {
  flex: 1;
  text-align: left;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.hero-text h1 {
  font-size: 3rem;
  margin-top: 27%;
  text-align: left;
  font-family: 'Quando', serif;
}

.hero-text p {
  margin: 2% 0;
  text-align: left;
  width: 80%;
  font-family: 'Roboto', serif;
}

.button-container {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 3%;
}

.button-content {
  display: flex;
  align-items: center;
}

.button-content .material-symbols-outlined {
  margin-left: 4px;
}

.button-container button {
  background-color: var(--dark-beige);
  color: #365445;
  font-weight: 525;
  font-family: 'Roboto', sans-serif;
  padding: 0.8rem 1.5rem;
  margin-right: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.button-container button:hover {
  background-color: #CA7636;
  color: white;
}

.impact-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 5rem 2rem;
  background-color: #304E42;
}

.our-impact {
  background-color: #304E42;
  color: white;
  height: 100%;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.our-impact h3{
  font-size: 2rem;
  text-align: center;
  font-family: 'Quando', serif;
  height: 10%;
  margin-bottom: 3%;
}

.mission-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 5rem 2rem;
  background-color: #C7AA92;
}

.our-mission{
  background-color: #C7AA92;
  color: white;
  height: 100%;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', serif;
}

.approach-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 200vh;
  text-align: center;
  padding: 5rem 2rem;
  background-color: #FBF3EA;
}

.our-approach {
  background-color: #FBF3EA;
  color: var(--dark-brown);
  height: 100%;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', serif;
}

.h5-hover{
  color: #5E5C59; 
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-top: 3%;
  cursor: pointer;
  transition: color var(--transition-duration);
}

.h5-hover:hover{
  color: #CA7636;
}

.aboutus-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 3rem 2rem;
  background-color: #CEAE94;
}

.about-us{
  background-color: #CEAE94;
  color: white;
  height: 100%;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', serif;
}

.card69 {
  width: 100%;
  height: 24em;
  background: rgb(41, 41, 41);
  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}

.card69 span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1em;
}

.card69 .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.72em;
  margin: 1em;
}

.card69 .img {
  width: 8em;
  height: 8em;
  background: white;
  border-radius: 15px;
  margin: auto;
  overflow: hidden;
}

.card69 .share {
  padding-bottom: 8%;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card69 a {
  color: white;
  transition: .4s ease-in-out;
}

.card69 a:hover {
  color: red;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 3rem 2rem;
  background-color: #304E42;
}

.contact-us{
  background-color: #304E42;
  color: white;
  height: 100%;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', serif;
}

/* Scroll to top button */
.ScrollToTop {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  background-color: #1b4552;
  border: none;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: fixed;;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.svgIcon69 {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon69 path {
  fill: #e9e9e9;
}

.ScrollToTop:hover {
  width: 140px;
  border-radius: 15px;
  transition-duration: 0.3s;
  background-color: #1b4552;
  align-items: center;
}

.ScrollToTop:hover .svgIcon69 {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.ScrollToTop::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: #e9e9e9;
  /* transition-duration: .3s; */
  font-size: 0px;
}

.ScrollToTop:hover::before {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

